<ul class="list1">
<li><strong>Send a Query</strong> – Initiate the process by email to: mark@markstephensyoga.com</li>
<li><strong>Choose a Format</strong> – See options in the box to the right</li>
<li><strong>Choose Topics</strong>  – Select from the titles and descriptions on the Workshop Topics page (or send an email to explore customized topics)</li>
<li><strong>Choose Dates</strong> – We book dates as far as two years in advance</li>
<li><strong>Complete a Contract</strong> – Click here to download the PDF</li>
<li><strong>Teacher Fees</strong> – Please email a request for fees. Standard rate is 70% of gross receipts. Certain minimums apply depending on format, dates, and location.</li>
<li><strong>Create a Promotional Plan</strong> – Please tell me how you will promote the event. I help promote all of my workshops through advertisement on this website, Facebook and other social media, and through e-blasts to thousands of recipients.</li>
</ul>