<h1>Workshops</h1>
<%= render 'workshops/calendar' %>

<h1>Booking Mark</h1>
<<<<<<< HEAD
<%= render 'workshops/booking' %>

<% content_for :top do %>
	<%= render 'workshops/top' %>
<% end %>
=======
<%= render 'workshops/booking' %>
>>>>>>> a9de3ff4fe6633590b90c8b0158dcc2f91cb21ac
