<h1>Workshops</h1>
<%= render 'workshops/calendar' %>

<h1>Booking Mark</h1>
<%= render 'workshops/booking' %>

<% content_for :top do %>
	<div class="block2">
      <div class="flexslider">
         <ul class="slides">
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-ytt-summer-1.jpg") %></li>
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-adjust.jpg") %></li>
         </ul>
      </div>
	 </div>
<% end %>
