<%= render 'audios/list' %>

<% content_for :side do %>
  <h2 class="ind2">Links</h2>
	<%= render 'layouts/subnav' %> 
<% end %>

<% content_for :top do %>
	<%= render 'pages/top_resources' %> 
<% end %>