<%= render 'slideshows/list' %>

<% content_for :side do %>
  <h2 class="ind2">Links</h2>
	<%= render 'layouts/subnav' %> 
<<<<<<< HEAD
<% end %>

<% content_for :top do %>
	<%= render 'pages/top_resources' %> 
=======
>>>>>>> a9de3ff4fe6633590b90c8b0158dcc2f91cb21ac
<% end %>