<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Contact Message Recieved</h1>
    <p>
      Name: <%= @contact.name %>
    </p>
    <p>
      Email: <%= @contact.email %>
    </p>
    <p>
      Content: <%= @contact.content %>
    </p>
  </body>
</html>