<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>We Have Received Your Applicate</h1>
    <p>
      Thank you, we have received your application and will be in touch with you shortly.
    </p>
  </body>
</html>