<section class="passes">

	<h1>Buy Class Passes</h1>
	
	<div class="container_24">
	
		<div class="grid_8 alpha">
			<div class="inside">
				<h2>5 Classes</h2>
				<h3>$50 ($10 per class)</h3>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" type="image" /> <img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" />
				</form>
			</div>
		</div>
		
		<div class="grid_8">
			<div class="inside">
				<h2>10 Classes</h2>
				<h3>$90 ($9 per class)</h3>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" type="image" /> <img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" />
				</form>
			</div>
		</div>
		
		<div class="grid_8 omega">
			<div class="inside">
				<h2>20 Classes</h2>
				<h3>$160 ($8 per class)</h3>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" type="image" /> <img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" />
				</form>
			</div>
		</div>
		
	</div>

</section>