<section class="schedule">
	<div class="inner">
	
		<h1>Mark's Class Schedule</h1>
		
		<div class="container_24">
		
			<div class="grid_12 alpha">
				<div class="inside">
					<h2>Beginning to Intermediate</h2>
					<ul>
					<li>Tuesdays & Thursdays 9:00–10:25am</li>
					<li>Wednesdays 5:30-7:00pm</li>
					<li>Saturdays 8:30–10:00am</li>
					</ul>
				</div>
			</div>
			
			<div class="grid_12 omega">
				<div class="inside">
					<h2>Intermediate to Advanced</h2>
					<ul>
					<li>Tuesdays & Thursdays 5:30–7:15pm</li>
					<li>Saturdays 10:00–11:45am</li>
					</ul>
				</div>
			</div>
		
		</div>
	
	</div>

</section>