<h2>Mark's Class Schedule</h2>
	
	<p><i>Classes are at Santa Cruz Yoga</i></p>

	<p><strong>Beginning to Intermediate</strong></p>

	<p>Tuesdays & Thursdays 9:00–10:25am<br>
	Wednesdays 5:30-7:00pm<br>
	Saturdays 8:30–10:00am
	</p>
	
	<p><strong>Intermediate to Advanced</strong></p>

	<p>Tuesdays & Thursdays 5:30–7:15pm<br>
		Saturdays 10:00–11:45am
	</p>

	<div class="clear"></div>
	<p>&nbsp;</p>


	<h2>Santa Cruz Yoga</h2>
	
	<p>
	402 Ingalls St., #11<br>
	Santa Cruz, CA 95060<br>
	<%= link_to 'www.SantaCruzYoga.net', 'http://www.santacruzyoga.net' %>
	</p>
	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<p><iframe frameborder="0" height="200" marginheight="0" marginwidth="0" scrolling="no" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=santa+cruz+yoga+402+Ingalls+St&amp;aq=&amp;sll=36.958688,-122.04905&amp;sspn=0.008625,0.021136&amp;vpsrc=0&amp;ie=UTF8&amp;hq=santa+cruz+yoga+402+Ingalls+St&amp;t=m&amp;cid=11046331428435748650&amp;hnear=&amp;ll=36.958465,-122.048836&amp;spn=0.020575,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed" width="250"></iframe><br />
		<small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=santa+cruz+yoga+402+Ingalls+St&amp;aq=&amp;sll=36.958688,-122.04905&amp;sspn=0.008625,0.021136&amp;vpsrc=0&amp;ie=UTF8&amp;hq=santa+cruz+yoga+402+Ingalls+St&amp;t=m&amp;cid=11046331428435748650&amp;hnear=&amp;ll=36.958465,-122.048836&amp;spn=0.020575,0.025749&amp;z=14&amp;iwloc=A" style="color: #ffffff; text-align: left;">View Larger Map</a></small></p>
