<h2>In-Depth Studies Program 100–Hour Intensive</h2>
	<p>For serious students interested in deepening their practice and learning more about yoga. If this turns you onto teaching, you can transition directly into Phase II of the 200-hour program. The tuition fee is $1,500. Payment plan and early bird discounts available. <br> <%= link_to 'Learn More', yttdepth_url, class: 'button1' %></p>