	<h2>500-Hour Yoga Teacher Certification Program</h2>
	<p><%= link_to image_tag(url_cdn("images/ytt500.jpg")), ytt500_url %></p>
	<p>Fulfilled by completing the 200-Hour Yoga Teacher Certification plus 300 hours of advanced yoga studies. Two years of yoga teaching experience required for admission. The tuition fee is $2,500. Payment plan and early bird discounts available. <br> <%= link_to 'Learn More', ytt500_url, class: 'button1' %></p>
