	<h2>200-Hour Yoga Teacher Certification Program</h2>
	<p><%= link_to image_tag(url_cdn("images/ytt200.jpg")), ytt200_url %></p>
	<p>The 200-hour Yoga Teacher Training is fulfilled by completing the Phase I Foundational Teacher Training Course (100 hours), Phase II Yoga TEaxcher Certification Completion Component (100 hours), and passing the 200-Hour Yoga Teacher Certification Exam. The tuition fee is $2,500. Payment plan and early bird discounts available. <br> <%= link_to 'Learn More', ytt200_url, class: 'button1' %></p>