<h2>Join my mailing list</h2>

<p><%= link_to image_tag(url_cdn("images/news5.jpg")), newsletters_url %></p>

<p>Sign up today to receive free yoga resources and stay connected.<br>
<%= link_to 'Join', newsletters_url, class: 'button1' %>
</p>