<h2>Yoga Teacher Training</h2>

<p><%= link_to image_tag(url_cdn("images/ytt5.jpg")), ytt_url %></p>

<p>200/+300/500-hour<br>
Yoga Teacher Certification Programs<br>
Next Training Starts July 13th<br>
<%= link_to 'More', ytt_url, class: 'button1' %>
</p>