<h1>Gratitude</h1>

<p>I am deeply grateful for the help and assistance of many friends and consultants in helping bring this website to fruition.</p>

<p>Elliot Weaver for the custom design and development of this Drupal website. </p>

<p>DiAnna Van Eycke's keen and creative eye for graphic design helped refine the design.</p>

<p>James Wvinner's photography speaks for itself and is best appreciated on his own website.</p>

<p>Hillary Hess' awesome video editing is ongoing as we move forward with other projects.</p>

<p>Anne Tharpe, Alison Mitchell, Sean Lang, Tom Simpkins and fifteen amazing yoga teachers keep Santa Cruz Yoga thriving when my focus shifts to other projects.</p>

<p>Ted Cooper's and Elise Oliphant's insights into media and messages gives shape to much of what and how things are presented to you.</p>

<p>Every student and teacher I've ever shared with in the practice and many others I've encountered only through books and conversations are a vital part of everything I try to share about yoga here and elsewhere.</p>

<p>I'm deeply grateful for the loving engagament of those closest to me in my daily  life: DiAnna Van Eycke, Melinda Bukey, Mike Stephens, Reatha White, John Bukey, Jennifer Stanley, Mike Rotkin, James Wvinner, Siddha and Pi.</p>

<% content_for :top do %>
	<%= render 'pages/top_grat' %> 
<% end %>