<h1>Signup for our Newsletters</h1>

<h2>For General Interest, Workshops, Retreats</h2>
<form accept-charset="UTF-8" action="http://track.namastelight.com/oi/1/c6def08e67563a9da461f6141b20b4af" method="get" name="oi_form">
<label>Email:</label> <input class="string" name="email" type="text" /><br />
	<input name="goto" type="hidden" value="" /> <input name="iehack" type="hidden" value="☠" /> <input class="btn" type="submit" value="Subscribe" />&nbsp;</form>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>For Yoga Teachers and Teacher Training</h2>
<form accept-charset="UTF-8" action="http://track.namastelight.com/oi/1/c56e547ca9f9453b724729e588b9f0b7" method="get" name="oi_form2">
<label>Email:</label> <input class="string" name="email" type="text" /><br />
	<input name="goto" type="hidden" value="" /> <input name="iehack" type="hidden" value="☠" /> <input class="btn" type="submit" value="Subscribe" />&nbsp;</form>
	
<div class="clear"></div>
<p>&nbsp;</p>
	
<h2>For Teacher Trainers and Yoga Schools</h2>
<form accept-charset="UTF-8" action="http://track.namastelight.com/oi/1/cfeeddfa0848509f372da0aebb4c06ea" method="get" name="oi_form3">
<label>Email:</label> <input class="string" name="email" type="text" /><br />
	<input name="goto" type="hidden" value="" /> <input name="iehack" type="hidden" value="☠" /> <input class="btn" type="submit" value="Subscribe" />&nbsp;</form>
	
<div class="clear"></div>
<p>&nbsp;</p>
	
<h2>For Santa Cruz Yoga Classes, Workshops, Events</h2>
<form accept-charset="UTF-8" action="http://track.namastelight.com/oi/1/c6def08e67563a9dc5a4fda659f93790" method="get" name="oi_form4">
<label>Email:</label> <input class="string" name="email" type="text" /><br />
	<input name="goto" type="hidden" value="" /> <input name="iehack" type="hidden" value="☠" /> <input class="btn" type="submit" value="Subscribe" />&nbsp;</form>
<p>&nbsp;</p>


<%= content_for :side do %>
	<%= render 'pages/side_books' %>
<% end %>

<% content_for :top do %>
	<%= render 'pages/top_news' %> 
<% end %>