<h1>Poetry and Prose</h1>

<p>&nbsp;</p>
<p><em>...and the day came
<br />
	when the risk to<br />
	
remain tight in a bud<br />
	
was more painful<br />
	
than the risk<br />
	
it took to blossom.</em></p>
<p>- Anais Nin</p>
<p>&nbsp;</p>
<p><em>A strange passion is moving in my head.
<br />
	My heart has become a bird which searches
in the sky.
<br />
	Every part of me goes in different directions.
Is it really so that the one I love is everywhere?</em></p>
<p>- Rumi</p>
<p>&nbsp;</p>
<p><em>When it&#39;s over I want to say: all my life I was a bridesmaid married to amazement.
I was the bridegroom, taking the world into my arms.</em></p>
<p>- Mary Oliver</p>
<p>&nbsp;</p>
<p><em>May I be at peace.
<br />
	May my heart remain open.
<br />
	May I know the beauty of my own true nature.
<br />
	May I be healed.<br />
	
May I be a source of healing in the world.</em></p>
<p>- Tibetan prayer</p>
<p>&nbsp;</p>
<p><em>You who never arrived in my arms, Beloved, who were lost from the start, I don&#39;t even know what songs would please you. I have given up trying to recognize you in the surging wave of the next&nbsp;moment. All the immense images in me-- the far-off, deeply-felt landscape, cities, towers, and bridges, and unsuspected turns in the path, and those powerful lands that were once pulsing with the life of the gods- all rise within me to mean you, who forever elude me.</em></p>
<p><em>You, Beloved, who are all the gardens I have ever gazed at, longing. An open window in a country house--, and you almost stepped out, pensive, to meet me. Streets that I chanced upon,-- you had just walked down them and vanished. And sometimes, in a shop, the mirrors were still dizzy with your presence and, startled, gave back my too-sudden image. Who knows? perhaps the same bird echoed through both of us yesterday, separate, in the evening...</em></p>
<p>
- Rainer Maria Rilke (Translated by Stephen Mitchell)</p>
<p>&nbsp;</p>
<p><em>But as all several soules containe<br />
	
Mixtures of things,<br />
	
they know not what<br />
	
Love, these mixt soules, doth mixe again
<br />
	And makes both one, each this and that.</em></p>
<p>- John Donne (
from &quot;The Extasie&quot;)</p>
<p>&nbsp;</p>
<p><em>Once you have flown,
<br />
	you will walk the Earth
<br />
	with your eyes turned skyward;<br />
	
for there you have been,<br />
	
there you long to return.</em></p>
<p>- Leonardo da Vinci</p>
<p>&nbsp;</p>
<p><em>As you go on breathing in this frame of mind, alternating between movement and stillness, it is important that the focus of your mind does not shift. Let the true breath come and go, a subtle continuum on the brink of existence. Tune the breathing until you get the breath without breathing; become one with it, and then the spirit can be solidified and the elixir can be made.

</em></p>
<p>- Chang San-Feng</p>
<p>&nbsp;</p>
<p><em>Breathing in I calm the body and mind<br />
	
Breathing out I smile<br />
	
Dwelling in the present moment
<br />
	I know this is the only moment

.</em></p>
<p>- Thich Nhat Hahn</p>
<p>&nbsp;</p>
<p><em>When you are fiercely angry or feeling joy beyond description, when you are at an impasse, not knowing what to do, when you are in terror or running for your life, know that such intense states of mind are fully permeated with the spanda, the creative vibration of divine shakti. Find her there.</em></p>
<p>

- Spanda Karikas</p>
<p>&nbsp;</p>
<p><em>I have to sing it my way. I don&#39;t know any other way.</em></p>
<p>

- Billie Holliday</p>
<p>&nbsp;</p>
<p><em>Only when you can be extremely pliable and soft,<br />
	
can you be extremely hard and strong.

</em></p>
<p>- Zen Proverb</p>
<p>&nbsp;</p>
<p><em>This human being is a guest house.<br />
	
Every morning a new arrival.
<br />
	A joy, a depression, a meanness, some momentary awareness comes as an unexpected visitor.
<br />
	Welcome and entertain them all!</em></p>
<p>- Rumi (
from &quot;The Guest House&quot;</p>
<p>&nbsp;</p>
<p><em>I want to unfold.
<br />
	Let no place in me hold itself closed,
<br />
	for where I am closed,<br />
	I am false.</em></p>
<p>- Ranier Maria Rilke
from &quot;I&#39;m so alone in the world&quot;</p>
<p>&nbsp;</p>
<p><em>The purpose of
 every gathering is discovered:
 to recognize beauty and to love 
what&#39;s beautiful.</em></p>
<p>- Rumi
from &quot;Bowls of Food&quot;</p>
<p>&nbsp;</p>
<p><em>Go in and in.
Be the space 
between two cells,
the vast, resounding
 silence in which
spirit dwells...
Go in and in 
and turn away from
 nothing that you find.</em></p>
<p>- Danna Faulds
from &quot;Go In and In&quot;</p>
<p>&nbsp;</p>
<p><em>When the mind settles on the mountain, it becomes the mountain.</em></p>
<p>- Thich Nhat Hahn</p>
<p>&nbsp;</p>
<p><em>Breathe in experience, breathe out poetry.</em></p>
<p>- Murial Rukeyser</p>
<p>&nbsp;</p>
<p><em>There is one way of breathing that is shameful and constricted. Then there is another way; a breath of love that takes you all the way to infinity.</em></p>
<p>- Rumi</p>
<p>&nbsp;</p>
<p><em>Breathing in I calm the body and mind
Breathing out I smile
Dwelling in the present moment
I know this is the only moment</em></p>
<p>- Thich Nhat Hahn</p>
<p>&nbsp;</p>
<p><em>As you go on breathing in this frame of mind, alternating between movement and stillness, it is important that the focus of your mind does not shift. Let the true breath come and go, a subtle continuum on the brink of existence. Tune the breathing until you get the breath without breathing; become one with it, and then the spirit can be solidified and the elixir can be made.</em></p>
<p>- Chang San-Feng</p>
<p>&nbsp;</p>
<p><em>Breathe. Let go. And remind yourself that this very moment is the only one you know you have for sure.</em></p>
<p>- Oprah Winfrey</p>
<p>&nbsp;</p>
<p><em>The men of old breathed clear down to their heels.</em></p>
<p>- Chuang Tzu</p>
<p>&nbsp;</p>

<%= content_for :side do %>
	<%= render 'pages/side_books' %>
<% end %>

<% content_for :top do %>
	<%= render 'pages/top_prose' %> 
<% end %>