<h1>Scholarships</h1>

<h2>Joel Kramer & Diana Alstad Passionate Mind Scholarship - $2,500 Tuition Waiver</h2>
<ul class="list1">
<li>Two awards per year</li>
<li>Open to residents of Santa Cruz County, California</li>
<li>5+ years prior practice with Mark Stephens</li>
<li>To Apply: Read The Passionate Mind and "Yoga as Self-Transformation" and write a 500-word reflective essay relating the insights you discover to how you practice yoga.</li>
</ul>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>Yoga Inside Scholarship - $1,500 Tuition Waiver</h2>
<ul class="list1">
<li>One award per year</li>
<li>2+ years prior experience teaching yoga in an alternative setting (public school, shelter, prison, treatment center, etc.)</li>
<li>To apply: Write a 500 word essay sharing your experiences and insights from teaching in an alternative setting.</li>
</ul>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>Vanda Scarvali Memorial Scholarship - $500 Tuition Assistance Award</h2>
<ul class="list1">
<li>Two awards per year</li>
<li>Open to residents of California</li>
<li>3+ years prior practice with Mark Stephens</li>
<li>To apply: Read Awakening the Spine and write a 500-word essay relating the insights you discover to how you practice yoga.</li>
</ul>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>Royal Sarah Stephens Memorial Scholarship - $500 Tuition Assistance Award</h2>
<ul class="list1">
<li>Two awards per year</li>
<li>Open to natives of Santa Cruz County, California</li>
<li>3+ years prior practice with Mark Stephens</li>
<li>to apply: Write a 500 word essay sharing your experiences and insights into yoga based on growing up in Santa Cruz County. </li>
</ul>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>How to Sponsor a Scholarship</h2>
<ul class="list1">
<li>These scholarships are sponsored by anonymous donors and named based on their interests and intentions. If you are interested in contributing to a scholarship fund, please send an email to mark@markstephensyoga.com.</li>
</ul>

<% content_for :top do %>
	<%= render 'pages/top_grat' %>
<% end %>