<h1>Teaching Yoga: Essential Foundations and Techniques</h1>

<strong><i>Now in English, German and Korean and with other foreign language translations coming soon, Teaching Yoga is the most widely read yoga text among yoga teachers and in teacher training progams worldwide. </i></strong>

<div class="clear"></div>
<p>&nbsp;</p>

<div class="container_24">

	<div class="grid_8">
		<%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/teaching_yoga_cover.jpg") %>
	</div>
	
	<div class="grid_16">
		<p>Teaching Yoga is not only 411 pages in length - it's the 4-1-1 for yoga teachers.  It gives a broad overview of yoga philosophy, history, subtle energy, body structure and movement before going in-depth on the practical methods and techniques for teaching highly effective classes to a diverse array of students.</p>
 
<p>This highly accessible book is written to serve a diverse range of yoga teachers rather than those teaching within one style, brand or lineage. Its eclectic perspective encourages teachers to be their creative best while clear in understanding the foundational of the art and science of teaching yoga. </p>
	</div>

</div>

<div class="clear"></div>
<p>&nbsp;</p>

<hr>

<div class="clear"></div>
<p>&nbsp;</p>


<h2>Reviews, Praise, Contents</h2>
<p>"Whether you’re already a yoga teacher, aspiring to be one, or just seeking to deepen your understanding and practice of yoga, Mark Stephens’ thoughtful, eloquent, and thorough book would be a valuable addition to your library… In Teaching Yoga, he covers all the basic topics you’d hope to find in a comprehensive teacher training class… Stephens’ deep understanding of, and appreciation for, the practice and fruits of yoga constantly illuminate his writing. That spirit gives force to his gentle insistence that all yoga teachers must look inside to find – and share with their students – their own authentic expression of yoga."</p>
<strong><i>—Yoga Journal</i></strong>

<div class="clear"></div>
<p>&nbsp;</p>

<p>"Mark Stephens’s all-encompassing tome for both new and experienced teachers [offers] an exhaustive overview of philosophy, history, yoga styles, and guidelines for practice... Authoritative and engaging, but never dogmatic, Teaching Yoga will help instructors fine-tune their classroom skills and empower their personal practice.</p>

<strong><i>—Yoga International</i></strong>

<div class="clear"></div>
<p>&nbsp;</p>
 

<p>"Mark Stephens, a teacher of teachers, has created a comprehensive and inspiring guide for yoga teachers and serious practitioners alike. In these pages, he offers us the fruit of his years of rigorous practice, his deep contemplation, and his understanding of what really matters in yoga. Filled with tips and secrets for finding the inner core of asana, gently but firmly puncturing myths, this book is a brilliant merger of traditional wisdom with contemporary rigor and insight. It should be on the shelf of everyone who loves the practice of yoga."</p>

<strong><i>– Sally Kempton, Yoga Journal's "Wisdom" columnist and author of Meditation for the Love Of It</i></strong>


<div class="clear"></div>
<p>&nbsp;</p>


<p>"Yoga teachers and their students will love this book. Mark Stephens untangles the complexities of yoga, giving teachers a rich array of practical teaching tools. Teaching Yoga should be in the hands of every teacher and dedicated student."</p>

<strong><i>– Seane Corn, yoga teacher and founder, Off the Mat, Into the World"</i></strong>


<div class="clear"></div>
<p>&nbsp;</p>
 

<p>"Teaching Yoga is friendly, well thought out, helpful, clear, and tremendously thorough. Many people will benefit from this gift, it being exactly what is needed to help a growing teacher teach at his or her best. I'm glad it is finally in print and it is coming out just in time for my next teacher training!"</p>

<strong><i>– Erich Schiffmann, author of Yoga:The Spirit and Practice of Moving Into Stillness</i></strong>

<div class="clear"></div>
<p>&nbsp;</p>


<p>"Mark Stephens' offering to yoga teachers provides practical tools and inspiration for the path that embraces all forms of embodied yoga. There are hard-to-find gems that make this a great resource, from the section of the mythological meaning behind the asanas to teaching cues for the core asanas and sequencing tools from vinyasa krama. Enjoy this great resource and dive deep into your own transformation of teaching yoga."</p>

<strong><i>– Shiva Rea, leading instructor of Transformational Prana Flow Yoga and Yoga Trance Dance</i></strong>


<div class="clear"></div>
<p>&nbsp;</p>
 

<p>"Comprehensive, deeply insightful, and chock full of tips and techniques for teaching and doing yoga, Mark Stephens' Teaching Yoga will be required reading for yoga teachers, teacher trainers, and serious students alike. We heartily recommend this essential new contribution to the conscious evolution of yoga."</p>

<strong><i>– Joel Kramer, coauthor with Diana Alstad of The Passionate Mind Revisited: Expanding Personal and Social Awareness</i></strong>


<div class="clear"></div>
<p>&nbsp;</p>


<p>"Teaching Yoga is an urgently needed manual that will be a valuable tool in the arsenal of aspiring yoga teachers to add perspective and to hone their skills. It provides a wealth of foundational information, advice, tips, guidance, and grist for the mill."</p>

<strong><i>– Ganga White, founder, White Lotus Yoga Foundation, Santa Barbara, California, and author of Yoga Beyond Belief: Insights to Awaken and Deepen Your Practice</i></strong>

<div class="clear"></div>
<p>&nbsp;</p>

<hr>

<div class="clear"></div>
<p>&nbsp;</p>


<h1>Contents:</h1>
<p>Foreword by Mariel Hemingway</p>

<h2>Introduction</h2>

<h2>Chapter 1: Ancient Roots of Modern Yoga</h2>
<ul class="list1">
<li>The Vedas</li>
<li>The Upanishads</li>
<li>The Bhagavad Gita</li>
<li>The Yoga Sutras of Patanjali</li>
<li>Tantra</li>
<li>Hatha Yoga</li>
<li>Toward Modern Hatha Yoga</li>
</ul>


<h2>Chapter 2: Modern Hatha Yoga</h2>
<ul class="list1">
<li>Yoga’s Journey to the West</li>
<li>Contemporary Hatha Yoga Styles</li>
<li>A Teacher’s Palette of Styles</li>
</ul>

<h2>Chapter 3: Subtle Energy</h2>

<ul class="list1">
<li>The Five Sheaths</li>
<li>Prana</li>
<li>Nadis</li>
<li>Bandhas</li>
<li>Chakras</li>
<li>Gunas</li>
<li>Doshas</li>
<li>Highlighting Subtle Energy in Classes</li>
</ul>

<h2>Chapter 4: Body Structure and Movement</h2>
<ul class="list1">
<li>The Feet</li>
<li>The Knees</li>
<li>The Pelvis</li>
<li>The Abdominal Core</li>
<li>The Spine</li>
<li>The Shoulders, Arms, and Hands</li>
<li>Anatomy in Teaching</li>
</ul>


<h2>Chapter 5: Creating Space for Self-Transformation</h2>
<ul class="list1">
<li>The Physical Setting</li>
<li>Classroom Setup and Orientation</li>
<li>Class Levels and Prerequisites</li>
<li>Class Etiquette</li>
<li>Waking up the Spiritual Environment</li>
<li>Archetypes and Mythology</li>
<li>Creating a Happy Space</li>
<li>A Space for Healing and Awakening</li>
<li>Holding Integrated Space</li>
</ul>

<h2>Chapter 6: Techniques and Tools in Teaching Yoga</h2>
<ul class="list1">
<li>Teaching Who Is in Front of You</li>
<li>Voice and Language</li>
<li>Basic Elements of Asana Practice</li>
<li>Instructing Asanas</li>
<li>General Principles in Giving Physical Cues and Adjustments</li>
<li>Modifications, Variations, and the Use of Props</li>
</ul>

<h2>Chapter 7: Teaching Asanas</h2>
<ul class="list1">
<li>Surya Namaskara: The Sun Salutations</li>
<li>Standing Asanas</li>
<li>Core Refinement</li>
<li>Arm Balances</li>
<li>Backbends</li>
<li>Seated and Supine Twists</li>
<li>Forward Bends and Hip Openers</li>
<li>Inversions</li>
<li>Savasana</li>
</ul>

<h2>Chapter 8: Teaching Pranayama</h2>
<ul class="list1">
<li>The Discovery and Development of Pranayama</li>
<li>The Modern Science of Respiration</li>
<li>Teaching Basic Breath Awareness</li>
<li>Refining the Flow of Breath</li>
<li>Ujjayi Pranayama</li>
<li>Deepening the Pranayama Practice</li>
<li>Consciously Cultivating Energy</li>
</ul>

<h2>Chapter 9: Teaching Meditation</h2>
<ul class="list1">
<li>Patanjali’s Path of Meditation</li>
<li>Taking One Seat</li>
<li>Six Guided Meditation Techniques</li>
<li>When to Meditate</li>
<li>Meditating Amid the Flow of Body and Breath</li>
</ul>

<h2>Chapter 10: Sequencing and Planning Classes</h2>
<ul class="list1">
<li>Principles of Sequencing</li>
<li>The Basic Arc Structure of Classes</li>
<li>Sequencing Within and Across Asana Families</li>
<li>Planning Specific Classes</li>
<li>Sequencing for the Menstrual Cycle</li>
<li>The Chakra Model of Sequencing</li>
<li>Popular Hatha Yoga Sequences</li>
<li>Creating Your Classes</li>
</ul>

<h2>Chapter 11: Specialized Teaching</h2>
<ul class="list1">
<li>New to Yoga</li>
<li>Working with Injuries</li>
<li>Working with Depression</li>
<li>Working with Pregnant Students</li>
<li>Teaching in Alternative Settings</li>
</ul>

<h2>Chapter 12: The Yoga Profession</h2>
<ul class="list1">
<li>Yoga Teacher Training and Certification</li>
<li>Apprenticing</li>
<li>Teaching Opportunities and Remuneration</li>
<li>Cultivating Abundance</li>
<li>Preserving Abundance</li>
<li>Regulation of the Profession</li>
<li>The Path of the Teacher</li>
</ul>


<h2>Appendixes</h2>
<ul class="list1">
<li>Appendix A: Yoga Associations, Institutes, Organizations, and Professional Resources</li>
<li>Appendix B: Glossary</li>
<li>Appendix C: List of Asanas</li>
<li>Appendix D: Asana Elements</li>
</ul>
 

<p>Notes</p>

<p>Bibliography</p>

<p>Index</p>

<p>About the Author</p>


<%= content_for :side do %>
	<%= render 'pages/side_books' %>
<% end %>

<% content_for :top do %>
	<%= render 'pages/top_books' %> 
<% end %>