<h2 class="ind3">Workshops</h2>


<% content_for :side do %>
  <h2 class="ind2">Unique Services</h2>
  <ul class="list1 inique f_14">
    <li><a href="#">Aliquam dapibus tincidunt</a></li>
    <li><a href="#">Praesent justo dolor</a></li>
    <li><a href="#">Lobortis quis lobortis dign</a></li>
    <li><a href="#">Pulvinar ac lorem vestibu</a></li>
    <li><a href="#">Donec sagittis euism</a></li>
  </ul>
  <h2 class="ind3">Drainage Plans</h2>
  <div class="planning">
    <figure><img alt="" src="images/2page_img5.jpg" /></figure>
    <div>
        Lorem ipsum dolor seceter adipiscing elit. Praesent sit  hendreit mauris. Porta<br /> fusce variusm natoque<br>
        <a href="#" class="button1">More</a>
    </div>
    <div class="clear"></div>
  </div>
  <h2>Garden Design</h2>
  <p>
    <a href="#" class="link2 f_14">Lorem ipsum dolor seceter adipiscing elit.</a>
  </p>
  Praesent sit  hendreit mauris. Porta fusce variusm natoque penatibus magnis. Montes nascetr mugiat suada odio. Morbi nunc odio, gravida atcursus nec luctus  uque duis ultricies pharetra magna.<br>
  <a href="#" class="button1">More</a>
<% end %>