<h1>Yoga Adjustments: Philosophy, Principles, and Techniques</h1>

<h2><strong><i>Coming Spring 2014!</i></strong></h2>

<div class="clear"></div>
<p>&nbsp;</p>

<div class="container_24">

	<div class="grid_8">
		<%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/yoga_adjustments_cover.jpg") %>
	</div>
	
	<div class="grid_16">
		<i>From the Publisher:</i>
	<p>Stephens presents how to teach over one hundred key yoga postures (asanas) for beginning to seriously advanced practices, covering the philosophy of yoga practice, the sensibilities of touch in teaching yoga, the seven principles of hands-on yoga teaching, and the twenty-five most effective methods of tactile cueing. With over 1,000 unique instructional photos and explanatory captions explaining precise ways of guiding a variety of flowing sequences as well as the most widely taught standing postures, arm balances, core integration movements, backbends, twists, forward bends, hip openers and inversions, <strong><i>Yoga Adjustments</i></strong> is an invaluable resource for all yoga teachers and teacher trainers.</p>
	<i>North Atlantic Books, 2010.</i>
	</div>

</div>

<div class="clear"></div>
<p>&nbsp;</p>

<hr>

<div class="clear"></div>
<p>&nbsp;</p>

<h1>Book Summary</h1>

<p>The main idea in Yoga Adjustments is that yoga teachers can best guide their students when informed about the nuances of yoga and the unique qualities of the students in their classes, thus teaching in a way that ensures that yoga practices are safe, sustainable and thereby more deeply transformational.</p>

<h2>The book is divided into three parts:</h2>

<p><strong><i>Part I</i></strong> – Foundations, begins with an in-depth discussion of philosophy and sensibility in yoga assisting, focusing on the essential elements of doing yoga and how yoga teachers can best guide students in exploring their practices in keeping with these elements. This discussion includes a close examination of touch and somatics in helping students awaken to clearer awareness on and off their yoga mats as well as consideration of ethics in teacher-student relationships and how to best support students in discovering and honoring their inner teacher.</p>

<p><strong><i>Part I</i></strong> continues by looking closely at the seven principles of hands-on teaching, offering clear examples of how each principle can be applied in practice. This leads to a comprehensive presentation of the methods and techniques of giving yoga assistance, with highly detailed discussions of all of the elements of yoga assisting, including communicating with students, qualities of touch, the five basic steps in giving hands-on cues, hands-on positioning and stance, and guiding students with special conditions, including joint problems, pregnancy, and PTSD.</p>

<p><strong><i>Part II</i></strong> – Applications, is comprised of seven chapters giving detailed guidance on how to assist students in each of over 100 postures in the seven families of asanas. Each chapter begins with background on an asana family and close consideration of its foundational asana. Each additional asana is presented in two-page spread with instructional photographs showing precisely how to give students effective guidance and support.</p>

<p><strong><i>Part III</i></strong> – Evolution, offers thoughts on the further development of yoga in the 21st century. The central theme of this chapter is that yoga is part of the evolutionary process and that yoga teachers and students can volitionally participate in the further creative evolution of yoga by showing up consciously in teaching and sharing this practice that has ancient roots in multiple traditions of physical, meliorative, and spiritual cultures.</p>


<%= content_for :side do %>
	<%= render 'pages/side_books' %>
<% end %>

<% content_for :top do %>
	<%= render 'pages/top_books' %> 
<% end %>