<h1>Yoga Sequencing: Designing Transformative Yoga Classes</h1>

<strong><i>Now in English, German and Korean and with other foreign language translations coming soon!</i></strong>

<div class="clear"></div>
<p>&nbsp;</p>

<div class="container_24">

	<div class="grid_8">
		<%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/yoga_sequencing_cover.jpg") %>
	</div>
	
	<div class="grid_16">
		<p><strong><i>Yoga Sequencing</i></strong> asks and attempts to answer one queston about yoga: why this, then that? Put differently, what is the best way to order the elements of a yoga practice? How are postures best placed in sensible sequences - sequences that make sense in a safe and sustainable yoga practice?</p>
		<p>With 528 pages and 2,000 photographs illustrating 67 sequences, this book is an essential resource for all yoga teachers and for anyone interested in desgining their own classes. </p>
		<p><i>North Atlantic Books, 2012. - ISBN 978-1583944974</i></p>
		<p><a href="http://www.amazon.com/Yoga-Sequencing-Designing-Transformative-Classes/dp/1583944974/ref=zg_bs_4653_1" target="_blank">Click here to Look Inside or Buy!</a></p>
	</div>

</div>

<div class="clear"></div>
<p>&nbsp;</p>

<hr>

<div class="clear"></div>
<p>&nbsp;</p>


<h2>Reviews, Praise, Contents</h2>
 

<p>"With nearly 500 pages of material, this impressive guide features classes sequences appropriate for every imaginable audience."</p>

<strong><i>— Yoga Journal</i></strong>

<div class="clear"></div>
<p>&nbsp;</p>

<p>"A must-have for any yoga teacher. … Offering terrific insights on philosophy, practice and pranayama (the three big ‘P’s’), Yoga Sequencing  - while keeping an emphasis on asana practice – nicely compiles these three subjects in an authoritative way."</p>

<strong><i>—Yoga Teacher Magazine</i></strong>

<div class="clear"></div>
<p>&nbsp;</p>

<p>"Mark Stephens has made another enormous contribution to the field of yoga teaching. This book is a deep well that will nourish aspiring as well as seasoned yoga teachers and students. It provides a wealth of practical techniques and invaluable insights, filling a vast gap in the yoga literature. I highly recommend using it as a resource."</p>

<strong><i>—Ganga White, codirector of White Lotus Foundation and author of Yoga Beyond Belief</i></strong>

<div class="clear"></div>
<p>&nbsp;</p>

<p>"A comprehensive, timely, and much-needed work on the important art of sequencing. Mark’s well-researched and systematically laid-out book is certain to become an instant classic and a reliable resource for all teachers of yoga asana, both beginning and experienced. It is essential reading for any teacher training program that wishes to be considered state-of-the art."</p>

<strong><i>—Leslie Kaminoff, yoga educator for thirty-three years and coauthor of Yoga Anatomy</i></strong>

<div class="clear"></div>
<p>&nbsp;</p>

<p>"Mark Stephens, a master teacher of teachers, has given us a wise, practical guide that should be in every yoga maven's library."</p>

<strong><i>—Sally Kempton, author of Meditation for the Love of It</i></strong>

<div class="clear"></div>
<p>&nbsp;</p>

<p>"Moving from philosophy and principles to methodology and technique, Yoga Sequencing gives yoga teachers and students alike a rich resource for designing wide-ranging classes for different intentions, needs, and aspirations."</p>

<strong><i>—Stephen Cope, director of the Kripalu Center and author of The Wisdom of Yoga</i></strong>

<div class="clear"></div>
<p>&nbsp;</p>

<p>"Yoga Sequencing addresses fundamental questions that yoga teachers face in designing classes. While making clear that the ultimate source of guidance comes from one’s own yoga experience, Stephens untangles the interrelations of yoga postures and provides insightful mapping principles for linking them into effective classes. This unique, practical book empowers yoga teachers to be their best in working with a diverse array of students."</p>

<strong><i>—Joel Kramer, coauthor with Diana Alstad of The Guru Papers</i></strong>

<div class="clear"></div>
<p>&nbsp;</p>

<p>"A contemporary yoga classic. As a yoga educator and teacher trainer, the deficiencies I see in trainings nationally and worldwide are largely one of substance. There’s no lack of heart and spirit in the field, but there is a notable lack of depth and educational content. This text should be required reading in all yoga teacher training schools and by all serious practitioners. Needless to say, Stephens is driven by an intense passion to enrich the transmission between teacher and student with new clarity and a three-dimensional understanding of the yoga body that is unequalled. Thank you Mark."</p>

<strong><i>—James Bailey, LAc, E-RYT 500, health educator</i></strong>

<div class="clear"></div>
<p>&nbsp;</p>

<p>"Yoga Sequencing is a great service to the yoga community as it covers the power of sequencing that all teachers can benefit from, as intelligent sequencing is the embodiment of the elegant design and unfolding of nature which Stephens understands and loves."</p>

<strong><i>—Shiva Rea, founder of Prana Vinyasa Yoga</i></strong>

<div class="clear"></div>
<p>&nbsp;</p>

<p>"Yoga Sequencing is going to be very helpful to a lot of people, both teachers and students alike. Sequencing is an art. It is one of the most interesting and most important elements in class and practice in terms of safety, creative class design, and effectiveness. It plays a pivotal role in terms of orchestrating the kind of experience the practitioner will have. Ultimately you learn to be sequenced from within, but familiarizing yourself with the strategies in this book will go a long way toward promoting that end."</p>

<strong><i>—Erich Schiffmann, author of Moving into Stillness</i></strong>

<div class="clear"></div>
<p>&nbsp;</p>

<p>"A thoughtful, detailed, and unique treatment of the art of sequencing and the power held within each living expression of this practice of yoga."</p>

<strong><i>—Janet Stone, yoga teacher, Yoga Tree, San Francisco</i></strong>

<div class="clear"></div>
<p>&nbsp;</p>

<p>"Mark Stephens provides a comprehensive map for the creative exploration and construction of yoga classes that cover a breadth and depth of options. This meticulous matrix will certainly advance any yoga teacher’s service to their students’ practice."</p>

<strong><i>—Jill Miller, creator of Yoga Tune Up®</i></strong>



<div class="clear"></div>
<p>&nbsp;</p>

<hr>

<div class="clear"></div>
<p>&nbsp;</p>



<h1>Contents:</h1>

<h2>Preface</h2>

<h2>Introduction: The Art and Science of Yoga Sequencing</h2>

<div class="clear"></div>
<p>&nbsp;</p>

<h1>Part One: Foundations and Principles</h1>

<h2>Chapter One: Philosophy and Principles of Sequencing</h2>
<ul class="list1">
<li>Traditional Approaches to Yoga Sequencing</li>
<li>Parinamavada and Vinyasa Krama</li>
<li>Principle One: Moving from Simple to Complex</li>
<li>Principle Two: Moving from Dynamic to Static Exploration</li>
<li>Principle Three: Cultivating Energetic Balance</li>
<li>Principle Four: Integrating the Effects of Actions</li>
<li>Principle Five: Cultivating Sustainable Self-transformation</li>
</ul>

<h2>Chapter Two: The Arc Structure of Yoga Classes</h2>
<ul class="list1">
<li>Yoga Chataqua: A Conscious Learning Journey</li>
<li>Initiating the Yogic Process</li>
<li>Creating a Theme-oriented Class</li>
<li>Warming and Awakening the Body</li>
<li>The Pathway to the Peak</li>
<li>Exploring the Peak</li>
<li>Integrating the Practice</li>
<li>Sidebar: Deepening the Integration of Asana</li>
</ul>

<h2>Chapter Three: Sequencing Within and Across Asana Families</h2>
<ul class="list1">
<li>The General Properties of Asanas</li>
<li>Standing Asanas</li>
<li>Core Awakening</li>
<li>Arm Support Asanas</li>
<li>Healthy Wrist Sequence</li>
<li>Healthy Shoulder Sequence</li>
<li>Back Bends</li>
<li>Twists</li>
<li>Forward Bends</li>
<li>Hip Openers</li>
<li>Inversions</li>
<li>Savasana</li>
<li>The Next Vinyasa in Sequencing</li>
</ul>

<h2>Chapter Four: Sequencing Asana Instructions</h2>
<ul class="list1">
<li>Teaching What You Know
	<ul>
		<li>Step One: Demonstrating Asanas</li>
		<li>Step Two: Transitioning into Asanas</li>
		<li>Step Three: Refining Asanas</li>
		<li>Step Four: Transitioning out of Asanas</li>
		<li>Step Five: Absorbing and Integrating the Effects of Asanas</li>
	</ul>
</li>
<li>Sequencing Cues within Asana Families</li>
<li>Down Dog as a Foundational Arm Support Asana</li>
</ul>

<div class="clear"></div>
<p>&nbsp;</p>

<h1>Part Two: Designing Beginning, Intermediate, and Advanced Classes</h1>

<h2>Chapter Five: Surya Namaskara—Sun Salutations</h2>
<ul class="list1">
<li>General Properties of the Surya Namaskara</li>
<li>Classical Surya Namaskara (Sequence 1)</li>
<li>Surya Namaskara A (Sequence 2)</li>
<li>Surya Namaskara B (Sequence 3)</li>
<li>Sidebar: Dancing Warrior (Sequence 4)</li>
</ul>

<h2>Chapter Six: Introductory and Beginning-level Classes</h2>
<ul class="list1">
<li>Creating and Teaching Beginning-level Sequences</li>
<li>Basic Introduction to Yoga Class (Sequence 5)</li>
<li>Introduction to Yoga Workshop for More Physically Fit Students (Sequence 6)</li>
<li>Focus on Back Bends (Sequence 7)</li>
<li>Focus on Hip Opening (Sequence 8)</li>
<li>Focus on Twisting (Sequence 9)</li>
<li>Focus on Standing Balance (Sequence 10)</li>
<li>Focus on Arm Support (Sequence 11)</li>
<li>Focus on Forward Bends (Sequence 12)</li>
<li>Focus on Inversion (Sequence 13)</li>
</ul>

<h2>Chapter Seven: Intermediate-level Classes</h2>
<ul class="list1">
<li>Creating and Teaching Intermediate-level Sequences</li>
<li>Focus on Back Bends I (Sequence 14)</li>
<li>Focus on Back Bends II (Sequence 15)</li>
<li>Focus on Hip Opening (Sequence 16)</li>
<li>Focus on Twisting (Sequence 17)</li>
<li>Focus on Standing Balance (Sequence 18)</li>
<li>Focus on Arm Support I (Sequence 19)</li>
<li>Focus on Arm Support II (Sequence 20)</li>
<li>Focus on Forward Bends (Sequence 21)</li>
<li>Focus on Inversions (Sequence 22)</li>
</ul>

<h2>Chapter Eight: Advanced-level Classes</h2>
<ul class="list1">
<li>Creating and Teaching Advanced-level Sequences</li>
<li>Focus on Back Bends I (Sequence 23)</li>
<li>Focus on Back Bends II (Sequence 24)</li>
<li>Focus on Hip Opening (Sequence 25)</li>
<li>Focus on Twisting (Sequence 26)</li>
<li>Focus on Standing Balance (Sequence 27)</li>
<li>Focus on Arm Support I (Sequence 28)</li>
<li>Focus on Arm Support II (Sequence 29)</li>
<li>Focus on Forward Bends (Sequence 30)</li>
<li>Focus on Inversions (Sequence 31)</li>
</ul>

<div class="clear"></div>
<p>&nbsp;</p>
 
<h1>Part Three: Sequencing Across the Life Cycle</h1>

<h2>Chapter Nine: Yoga Sequencing for Kids</h2>
<ul class="list1">
<li>Yoga for Elementary School–age Children (Sequence 32)</li>
<li>Yoga for Middle School–age Children (Sequence 33)</li>
<li>Yoga for High School–age Youth (Sequence 34)</li>
</ul>

<h2>Chapter Ten: Sequencing for Special Conditions of Women</h2>
<ul class="list1">
<li>Practicing Yoga during Menstruation</li>
<li>Yoga for Easing Menstrual Discomfort (Sequence 35)</li>
<li>Practicing Yoga during and after Pregnancy</li>
<li>Yoga Sequences by Stage of Pregnancy</li>
<li>General Guidelines and Sequences for the First Trimester</li>
<li>First Trimester of Pregnancy—New to Yoga (Sequence 36)</li>
<li>First Trimester of Pregnancy—Healthy and Experienced Yogini (Sequence 37)</li>
<li>General Guidelines and Sequences for the Second Trimester</li>
<li>Second Trimester of Pregnancy—New to Yoga (Sequence 38)</li>
<li>Second Trimester of Pregnancy—Healthy and Experienced Yogini (Sequence 39)</li>
<li>General Guidelines and Sequences for the Third Trimester</li>
<li>Third Trimester of Pregnancy—New to Yoga (Sequence 40)</li>
<li>Third Trimester of Pregnancy—Healthy and Experienced Yogini (Sequence 41)</li>
<li>Third Trimester of Pregnancy—During Labor (Sequence 42)</li>
<li>General Guidelines and Sequences for Postpartum Reintegration</li>
<li>Yoga for Postpartum Reintegration (Sequence 43)</li>
<li>Yoga Sequences for Menopause</li>
<li>Yoga for Symptoms of Hot Flashes (Sequence 44)</li>
<li>Yoga for Bone Health—Preventing Osteoporosis (Sequence 45)</li>
<li>Yoga for Reducing Mood Swings (Sequence 46)</li>
</ul>

<h2>Chapter Eleven: Yoga Sequencing for Seniors</h2>
<ul class="list1">
<li>Creating and Teaching Yoga Sequences for Seniors</li>
<li>Yoga for Seniors with Arthritis (Sequence 47)</li>
<li>Yoga for Seniors with Osteoporosis (Sequence 48)</li>
<li>Yoga for Seniors with Difficulty Balancing (Sequence 49)</li>
<li>Yoga for Seniors with Heart Disease (Sequence 50)</li>
</ul>
 
<div class="clear"></div>
<p>&nbsp;</p>

<h1>Part Four: Sequencing for More Radiant Health and Well-being</h1>

<h2>Chapter Twelve: Cultivating Emotional and Mental Health</h2>
<ul class="list1">
<li>Simple Relaxation Class for Beginning–Intermediate Students (Sequence 51)</li>
<li>Relax Deeply Class for Intermediate–Advanced Students (Sequence 52)</li>
<li>Mildly Stimulating Class for Beginning–Intermediate Students (Sequence 53)</li>
<li>Mildly Stimulating Class for Intermediate–Advanced Students (Sequence 54)</li>
</ul>

<h2>Chapter Thirteen: Chakra Sequences</h2>
<ul class="list1">
<li>Muladhara Chakra Class (Sequence 55)</li>
<li>Svadhisthana Chakra Class (Sequence 56)</li>
<li>Manipura Chakra Class (Sequence 57)</li>
<li>Anahata Chakra Class (Sequence 58)</li>
<li>Vishuddha Chakra Class (Sequence 59)</li>
<li>Ajna Chakra Class (Sequence 60)</li>
<li>Sahasrara: An Integrated Chakra Class (Sequence 61)</li>
</ul>

<h2>Chapter Fourteen: Ayurvedic Yoga Sequencing</h2>
<ul class="list1">
<li>Vata Balancing Class (Sequence 62)</li>
<li>Pitta Balancing Class (Sequence 63)</li>
<li>Kapha Balancing Class (Sequence 64)</li>
</ul>

<div class="clear"></div>
<p>&nbsp;</p>

<h1>Part Five: Bringing It All Together</h1>

<h2>Chapter Fifteen: Further Tips on Yoga Sequencing</h2>
<ul class="list1">
<li>Soulful Vinyasa Yoga—An Integrated Level 1–2 Class (Sequence 65)</li>
<li>Soulful Vinyasa Yoga—An Integrated Level 2–3 Class (Sequence 66)</li>
<li>Soulful Vinyasa Yoga—An Integrated Level 3+ Class (Sequence 67)</li>
</ul>

<div class="clear"></div>
<p>&nbsp;</p>

<p>Appendix A: Glossary</p>

<p>Appendix B: The Constituent Elements of Asanas</p>

<p>Appendix C: Yoga Class Planning Worksheet</p>

<p>Appendix D: Popular Yoga Sequences</p>

<p>Appendix E: Additional Resources</p>

<p>Notes</p>


<%= content_for :side do %>
	<%= render 'pages/side_books' %>
<% end %>

<% content_for :top do %>
	<%= render 'pages/top_books' %> 
<% end %>