<h1>200-Hour Yoga Teacher Training and Certification Program</h1>

<p>The 200-Hour Yoga Teacher Training and Certification Program is completed in two phases of 100 hours. Here are the details:</p>

<h2>Phase I: 100-Hour Foundational Course</h2>
<p>The initial 7-week, 100-hour Foundational Teacher Training Course begins with the question, “What is yoga?”  We then explore the fundamental elements of asana (postures), pranayama (breathing), and meditation as the interwoven threads of a holistic and integrated practice.</p>

<p>Specific topics and activities in the 100-Hour Foundational Yoga Teacher Training Course include:</p>

<ul class="list1">
<li><strong>Asana Technique & Teaching Methods:</strong> The most extensive part of the course, here you will learn in detail each of the 75 basic yoga poses, including alignment principles, energetic actions, risks, benefits, preparatory asanas, counterposes, variations, modifications, hands-on adjustments, and use of props for each one. This part of the course covers the major families of asanas: Sun Salutations, Standing Poses, Backbends, Forward Bends, Twists, Arm Balances, Inversions, Core Refinement, and Hip Openers.</li>
<li><strong>Practical Yoga History & Philosophy:</strong> An overview of the Bhagavad Gita, Yoga Sutras of Patanjali (not just the Eight Limbs but Patanjali’s philosophy of spiritual psychology), early tantric texts that inform the earliest development of physical yoga (postural) practices, Hatha Yoga Pradipika (the earliest text on postural yoga), and contemporary yoga philosophy. </li>
<li><strong>Practical Yoga Anatomy:</strong> A hands-on introduction to functional anatomy, bio-mechanics, and the kinesiology of movement as applied to seeing students in the practice and guiding them in a meaningful, safe, and effective way. </li>
<li><strong>Planning & Sequencing Classes:</strong> The art and science of sequencing families of asanas and crafting entire classes, including for different levels of students, different intentions, seasons, styles and other considerations. Here we also cover pacing, duration, tempo, and vibe for different levels and intentions of classes. </li>
<li><strong>Teaching Pranayama:</strong> Basic and intermediate pranayama techniques, including how, when, and whom to teach basic yoga breathing (ujayi pranayama) and more intermediate pranayama techniques (including kapalabhati, bastrika, sitali, viloma, kumbhaka, and nadi shodhana). </li>
<li><strong>Subtle Energy & Anatomy:</strong> Awareness and activation of subtle energy, including how to cultivate bandhas and the relationship between pranayama, bandhas, and the elements of yogic anatomy, including koshas, chakras, nadis, vayus, gunas, and doshas. </li>
<li><strong>Meditation Practices:</strong> In demystifying meditation, we explore how to bring meditation into yoga classes and everyday life in way that is simple, accessible, and sustainable. We explore several meditation techniques.</li>
<li><strong>The Art of Seeing & Relating:</strong> An integral part of the course, here we learn to systematically observe, appreciate, and understand what is happening with different students in each of the 75 asanas, thereby developing the necessary skills for working individually with your students and giving appropriate verbal cues, hands-on adjustments, and use of props. </li>
<li><strong>Demonstrating & Cuing:</strong> Here we focus on when, where, and how to most effectively demonstrate yoga poses while giving the clearest, most understandable verbal and hands-on guidance to students. Qualities of voice, including language, tone, and audibility, are given close attention. 
Class Observation: Buy observing experienced teachers in the act of leading live classes, you will further refine your insights into what different students are likely experiencing in their yoga practices, thereby expanding your own skills in leading classes. </li>
<li><strong>Practice Teaching:</strong> From the very beginning of this course, you will work with other participants to teach classes, starting with working one-on-one and gradually developing the confidence and skill to lead larger and larger classes. Each practice teaching session includes extensive feedback and discussion of teaching techniques and methods. </li>
<li><strong>Lifestyle & Ethics:</strong> How we live our larger lives off the mat, including personal yoga practice, nutrition, sleep, relations with family and friends, and being in community are essential aspects of deepening our yoga and sharing it with dignity and integrity.</li>
<li><strong>The Profession & Business of Yoga:</strong> This covers the role of the teacher, getting yourself established as a professional yoga teacher, and being successful in teaching yoga as your source of livelihood.</li>
</ul>

<p>&nbsp</p>

<h2>Phase II: 100-Hour Yoga Teacher Training Completion Component & Certification Exam</h2>

<p>Building upon the Phase I Foundational Yoga Teacher Training Course, in Phase II you will complete all the requirements for the 200-Hour Yoga Teacher Certification. All workshops are scheduled on weekends. All required workshops are offered at least twice per year to give you flexibility in your program completion schedule.</p>

<ul class="list1">
<li>60 Hours of Required Workshops</li>
<li>24 Hours of Required Apprenticing </li>
<li>16 Hours of Elective Teacher Training Workshops </li>
<li>Certification Exam</li>
</ul>

<p>&nbsp</p>

<h2>Required Phase II Workshops (60 Hours)</h2>

<strong><i>Hands-On Adjustments Intensive (20 Hours)</i></strong>
<p>This workshop goes deeply into the full range of hands-on adjustments, an essemntial skill for all yoga teachers. It begins with an in-depth consideration of the principles of tactile cues, and then looks at specific techniques for guiding students in over 50 poses. This is a practical yoga teacher training workshop in which you will work with one another to learn, practice, and refine your ability to guide students.</p>

<strong><i>Sequencing Intensive (20 Hours)</i></strong>
<p>The art and science of sequencing is where all of the various strands of what you have learned about teaching yoga so far are most practically integrated. The basic question is, “why this pose before or after that pose?” We begin by examining the principles of effective sequencing, and then apply these principles to designing a variety of different classes for beginning to advanced students, and for different styles, needs, and intentions (ranging from restorative/yin-type practices to vigorous flow).</p>

<strong><i>Teaching Pre/Post-Natal Yoga Intensive (20 Hours)</i></strong>
<p>Every public yoga teacher is a pre-natal yoga teacher if only because you will definitely have pregnant students in your yoga classes. This workshop covers maternal anatomy and physiology, adaptation of the practice for each trimester of pregnancy, indications and contra-indications for various conditions, effective use props, emotional and psychological aspects of pre-natal experience, preparation for delivery, delivery, and post-partum reintegration through yoga.</p>

<h2>Apprenticing (24 Hours)</h2>
<p>The apprenticeship is an integral component of the Yoga Teacher Certification program The purposes of apprenticeship are to more closely observe regular classes, get practical experience in public yoga classes, and to work closely with a qualified mentor teacher to further develop the skills and confidence for conducting well-balanced, safe and effective classes on your own.</p>

<p>Working directly under the guidance of an approved mentor teacher of your choice, here you will refine your skills in the art of seeing and guiding students in a real world setting. You are required to assist in two different classes for six sessions each (different teachers, levels, styles or something else that sets them apart). You are credited 2-hours for each class, which includes the class-time itself and discussion with the teacher.</p>

<h2>Elective Workshops (16 Hours)</h2>
<p>By completing 16 hours of elective workshops, you can further tailor your training to your own interests as yoga teacher. These workshops encourage you to focus more specifically on the aspects of yoga that most interest you while cultivating a more balanced overall understanding of the art and science of teaching yoga. They are taught primarily by Mark Stephens and by a variety of highly esteemed guest instructors who are invited to Santa Cruz on an annual or semi-annual basis. (Recent and upcoming guest teachers include Shiva Rea, Sarah Powers, Joel Kramer, Sally Kempton, Ganga White, Jill Miller, and James Bailey.)</p>

<p><strong><i>Elective teacher training workshop topics include:</i></strong></p>

<ul class="list1">
<li>Breaking Down the Sun Salutations</li>
<li>Yoga Therapy: Working with Injuries</li>
<li>Osteopathic Assessment</li>
<li>Chakra Sequencing</li>
<li>Teaching Pranayama: Philosophy, Anatomy & Technique</li>
<li>Applying the Concept of "Playing the Edge"</li>
<li>The Practice of Mental Yoga</li>
<li>Yoga & Ayurveda</li>
<li>Teaching Heart Centered Meditation and Tantra Awareness</li>
<li>Teaching Yoga to Kids</li>
<li>Teaching Restorative Yoga</li>
<li>and more...</li>
</ul>

<p>&nbsp;</p>

<h2>Certification Exam</h2>
<p>The 200-hour Yoga Teacher Certification requires completion of Phases I & II (or Modules I-V if in the modular program) and successful completion of the 200-Hour Comprehensive Certification Exam. The overall course prepares you to successfully complete the exam.</p>

<p>Upon completion of the 200-Hour Yoga Teacher Certification, you are qualifed to apply to Yoga Alliance for membership in its registry of yoga teachers as Registered Yoga Teacher (RYT 200).</p>

<p>&nbsp;</p>

<h2>Core Readings</h2>
<ul class="list1">
<li>Teaching Yoga: Essential Foundations and Techniques, by Mark Stephens</li>
<li>Yoga Sequencing: Designing Transformative Yoga Classes, by Mark Stephens</li>
<li>Yoga Body: Anatomy, Kinesiology, and Asana, by Judith Hanson Lasater</li>
<li>The Heart of Yoga, by T.V.K. Desikachar</li>
<li>Yoga Beyond Belief, by Ganga White</li>
</ul>
<div class="clear"></div>


<% content_for :side do %>
	<%= render 'layouts/side_ytt' %>
	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
<h2>200–Hour Certification Requirements Summary</h2>
<ul class="list1">
<li>Complete Phase I -  100-Hour Foundational Yoga Teacher Training Course</li>
<li>Complete Phase II - 100-Hour Yoga Teacher Training Completion Component</li>
<li>Complete and Pass the 200–Hour Yoga Teacher Certification Examination</li>
</ul>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>Tuition</h2>

<p>
<strong style="font-size:20px;">$2500</strong><br>
<i>Please inquire about our Payment Plan.</i>
</p>
<div class="clear"></div>

<% end %>