<h1 class="ind3">Apply</h1>


<% content_for :side do %>
	<%= render 'layouts/side_ytt' %>
	
	
	<div class="clear"></div>
	<p>&nbsp;</p>	
		
<% end %>

<% content_for :top do %>
	<div class="block2">
      <div class="flexslider">
         <ul class="slides">
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-ytt.jpg") %></li>
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-closeup.jpg") %></li>
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-refine.jpg") %></li>
         </ul>
      </div>
	 </div>
<% end %>