<h1 class="ind3">Apply</h1>


<% content_for :side do %>
	<%= render 'layouts/side_ytt' %>
	
	
	<div class="clear"></div>
	<p>&nbsp;</p>	
		
<% end %>

<% content_for :top do %>
	<%= render 'pages/top_ytt' %>
<% end %>