<h1>In-Depth Yoga Studies & Teacher Training Program</h1>

<p><%= image_tag(url_cdn("images/ytt8.jpg")) %></p>

<p>Just as an artist shares his or her art, so a yogi or yogini shares their practice through the art of teaching. Whether your intention is to teach or to deepen your personal practice, this program will help you create the palette and tools to creatively express your yoga with intelligence, compassion and joy.</p>
	
<div class="clear"></div>
<p>&nbsp;</p>

<h2>Summer Session Starts July 13, 2013<br>
Saturdays & Sundays, 12:30–6:30pm<br>
July 13 – August 25, 2013</h2>
 
<p>Interested in deepening your personal practice and your appreciation of the history, philosophy, and techniques of yoga? The In -Depth Yoga Studies Program allows you to participate in the Foundational Course for yoga teacher training without the expectations or requirements involved in working toward yoga teacher certification. This lets you focus in on just the topics that most interest you while exploring as deeply as you wish in the more comprehensive course of studies required of aspiring teachers.</p>

<p>For more details on the general content of the In-Depth Yoga Studies Program, take a look at the Foundational Course (Phase I) for the 200-Hour Yoga Teacher Certification Program. Then please feel free to contact Mark to discuss your interests and see how you can tailor your studies and your experience to best satisfy your personal intentions in participating.</p>

<% content_for :side do %>
	<%= render 'layouts/side_ytt' %>
	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<h2>Registration</h2>
	<p>Please complete the teacher training application and check the box for  In-Depth Yoga Studies.</p>
	<p><strong><i>Course Fee: $1,225 (84 hours)</i></strong></p>

<% end %>

<% content_for :top do %>
	<%= render 'pages/top_depth' %>
<% end %>