<p><strong><i>These writings are fairly informal reflections on practicing and teaching yoga. Click on any title to read the entire piece. Please feel free to share these with others.</i></strong></p>

<p><%= link_to '> About Mark', about_url %></p>


<div class="clear"></div>
<p>&nbsp;</p>