<h1>Blog: On Practice & Teaching</h1>

<%= render 'posts/head' %>

<%= render 'posts/list' %>

<% content_for :side do %>
	<%= render 'posts/side' %>
<% end %>

<% content_for :top do %>
	<%= render 'posts/top' %>
<% end %>