.schedule {
	.inside {
		background: #d0c087;
		padding: 20px;
		height: 120px;
		margin-bottom: 30px;
		text-align: center;
	}
}

.passes {
	.inside {
		text-align: center;
		background: #bcaa66;
		padding: 10px 10px 30px 10px;
		h2 {
			margin-bottom: 10px;
		}
	}
}