body {
	.plans {
	  text-align: center;
	  margin: 50px 0;
	  width: 685px;
	  .plan {
		  background-color: #111575;
		}
		.well {
			margin: 8px;
		}
		h2 {
		  line-height: 100px;
		  color: #fff;
		}
		.featured-plan {
		  background-color: #CCAB00;
		}
		.featured {
		  -webkit-transform:scale(1.15);
		  box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);  
		}
	}	
}