<section>
	
	<div class="links">
		<a href="cards?card_filter%5Boptions%5D%5B%5D=eCards" class="ec">eCards</a>
		<a href="cards?card_filter%5Boptions%5D%5B%5D=eInvites" class="ei">eInvites</a>
		<a href="cards?card_filter%5Boptions%5D%5B%5D=Downloads" class="d">Downloads</a>
	</div>
	
	<div class="list">
	
		<h2>Shabbat & Festivals:</h2>
		<ul>
			<li><a href="#">Shabbat</a></li>
			<li><a href="#">Rosh Hashanah</a></li>
			<li><a href="#">Sukkot</a></li>
			<li><a href="#">Simcat Torah</a></li>
			<li><a href="#">Chanukah</a></li>
			<li><a href="#">Tu B'Shvat</a></li>
			<li><a href="#">Purim</a></li>
			<li><a href="#">Pesach</a></li>
			<li><a href="#">Shavuot</a></li>
			<li><a href="#">Tu B'Av</a></li>
		</ul>
		
		<h2>Lifecycles & Blessings:</h2>
		<ul>
			<li><a href="#">Baby Announcement</a></li>
			<li><a href="#">Baby Mazel Tov</a></li>
			<li><a href="#">Brit Milah</a></li>
			<li><a href="#">Upshern</a></li>
			<li><a href="#">Birthday</a></li>
			<li><a href="#">Bat Mitzvah</a></li>
			<li><a href="#">Bar Mitzvah</a></li>
			<li><a href="#">Graduation</a></li>
			<li><a href="#">New Job</a></li>
			<li><a href="#">Engagement</a></li>
			<li><a href="#">Wedding</a></li>
			<li><a href="#">Anniversary</a></li>
			<li><a href="#">New Home - Blessings</a></li>
			<li><a href="#">New Home</a></li>
			<li><a href="#">Announcement</a></li>
			<li><a href="#">Condolences</a></li>
			<li><a href="#">Good Luck</a></li>
			<li><a href="#">Mazel Tov - General</a></li>
			<li><a href="#">Bon Voyage</a></li>
			<li><a href="#">Get Well</a></li>
			<li><a href="#">Thank You</a></li>
			<li><a href="#">Sorry</a></li>
			<li><a href="#">Friendship</a></li>
			<li><a href="#">Thinking of You</a></li>
			<li><a href="#">Encouragement</a></li>
			<li><a href="#">Love</a></li>
			<li><a href="#">Other</a></li>
		</ul>
		
		<h2>Secular Holidays:</h2>
		<ul>
			<li><a href="#">Thanksgiving</a></li>
			<li><a href="#">Mother's Day</a></li>
			<li><a href="#">Father's Day</a></li>
		</ul>
		
		<h2>Designed by Kids:</h2>
		<ul>
			<li><a href="#">Designed by Children</a></li>
		</ul>
	
	</div>
	
</section>